useDynLib(spacodiR)
export(
add.transparency,
as.phylocom,
as.picante,
as.spacodi,
check.distmat,
cophen,
get.desc.of.node,
get.descendants.of.node,
match.spacodi.data,
phy.deresolve,
phy.dotplot,
phy.nodetimes,
resamp.1a,
resamp.1s,
resamp.2s,
resamp.2x,
resamp.3i,
resamp.3t,
resamp.3x,
resamp.phy,
resamp.test,
spacodi.by.nodes,
spacodi.all.nodes,
spacodi.exp.nodes,
spacodi.calc,
spacodi.permutplot,
spacodi.treeplot,
withinrange,
write.spacodi.data
)
#importFrom( utils, capture.output )

